:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient-hero-color: linear-gradient( rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4) );
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg-color);
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: var(--accent-color);
  cursor: pointer;
  transition-property: background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--primary-bg-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo__accent {
  color: #000000;
}

@media screen and (max-width: 767.9px) {
  .site-nav {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.site-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.site-nav__item {
  width: calc(100% - 50px)/3;
}

.site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  padding: 32px 0 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav__item .current {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  display: block;
  opacity: 0;
}
.site-nav__link.current::after, .site-nav__link:hover::after, .site-nav__link:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.header-auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
@media screen and (max-width: 767.9px) {
  .header-auth {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .header-auth {
    flex-direction: row;
    gap: 50px;
  }
}

.header-auth__link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.header-auth__link:hover, .header-auth__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-auth__link {
    font-size: 14px;
    line-height: 1.15;
  }
}

.header-auth__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.header-auth__link:hover > .header-auth__icon, .header-auth__link:focus > .header-auth__icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--secondary-bg-color);
  background-image: var(--gradient-hero-color), url(../images/heroimg/mobhero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient-hero-color), url(../images/heroimg/mobhero-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient-hero-color), url(../images/heroimg/tabhero-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient-hero-color), url(../images/heroimg/tabhero-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--gradient-hero-color), url(../images/heroimg/hero-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient-hero-color), url(../images/heroimg/hero-2x.jpg);
  }
}

.hero__box {
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__box {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  min-width: 200px;
  height: 50px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features__box {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.section-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.section-work__list {
  display: flex;
  gap: 30px;
}

.section-work__item {
  width: calc(100% - 60px)/3;
  position: relative;
}

.section-work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-bg-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    padding-bottom: 50px;
  }
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-team__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-box__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.team-social__item {
  width: 44px;
  height: 44px;
}

.team-soc__link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-soc__link:hover, .team-soc__link:focus {
  background-color: var(--accent-color);
}
.team-soc__link:hover > .team-social__icon, .team-soc__link:focus > .-team-social__icon {
  fill: var(--primary-bg-color);
}

.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-clients__title {
    margin-bottom: 50px;
  }
}

.section-clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-clients__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .section-clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .section-clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.section-clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.section-clients__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.section-clients__link:hover, .section-clients__link:focus {
  border: 1px solid var(--accent-color);
}
.section-clients__link:hover > .section-clients__logo, .section-clients__link:focus > .section-clients__logo {
  fill: var(--accent-color);
}

.page-footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.page-footer__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .page-footer__box {
    display: flex;
    flex-direction: row;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__box {
    gap: 70px;
    align-items: baseline;
  }
}

.page-footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .page-footer__nav {
    min-width: 231px;
    align-items: flex-start;
  }
}

.footer-logo__accent {
  color: var(--primary-bg-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .address__list {
    align-items: flex-start;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.address__auth {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__auth:hover, .address__auth:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    align-items: flex-start;
  }
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  gap: 10px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-social__icon {
  fill: var(--primary-bg-color);
}

.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    gap: 20px;
    align-items: flex-start;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__title {
    margin-left: 20px;
  }
}

.footer-form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__wrapper {
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
}
.footer-form__input:focus {
  border: 1px solid var(--accent-color);
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
}

.portfolio {
  background-color: var(--primary-bg-color);
}

.filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: #f5f4fa;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.portfolio__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio__item {
  width: calc(100% - 60px)/3;
}

.portfolio__box {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.portfolio__tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__link {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio-wrap__text, .portfolio__link:focus .portfolio-wrap__text {
  transform: translateY(0);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  top: 0;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  z-index: 1;
}

.modal {
  width: 100%;
  min-height: 609px;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 581px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.modal__close:hover {
  border: 1px solid var(--accent-color);
}

.modal__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__close:hover > .modal__icon {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-form {
  padding: 40px;
  text-align: center;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  color: var(--title-text-color);
}

.modal-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.modal-form__box {
  position: relative;
  width: 100%;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  outline-color: transparent;
}
.modal-form__input:focus {
  border: 2px solid var(--accent-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 20%;
  left: 12px;
  display: inline-block;
  transform: translateY(20%);
}

.modal-form__comment {
  font-size: 12px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  outline: transparent;
}
.modal-form__comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-terms {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
@media screen and (min-width: 1200px) {
  .form-terms {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-terms__wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.form-terms__input:checked + .form-terms__wrapper {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-bg-color);
  border-radius: 2px;
}
.form-terms__input:focus + .form-terms__wrapper {
  border: 2px solid var(--accent-color);
}

.form-terms__link {
  color: var(--accent-color);
}

.form-terms__btn {
  min-width: 200px;
  padding: 10px 52px;
  margin-top: 30px;
}

.tel-menu__btn {
  background-color: var(--primary-bg-color);
  border: none;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 767.9px) {
  .tel-menu__btn {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.tel-menu__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.tel-menu__btn:hover > .tel-menu__icon {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  overflow: auto;
  transition-property: transform, opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu__container {
  transform: scaleX(1);
  transform-origin: 100% 100%;
  transition: transform, transform-origin;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu.is-hidden .mob-menu__container {
  transform: scaleX(0.4);
  transform-origin: 100% 100%;
}

.mob-menu__close {
  margin-left: auto;
  background-color: var(--primary-bg-color);
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu__close:hover > .mob-menu__icon {
  fill: var(--accent-color);
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mob-active {
  color: var(--accent-color);
}

.mob-auth {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 302px;
  margin-bottom: 64px;
}

.mob-auth__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.email-auth__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-socia__list {
  display: flex;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}

.link-border {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */