.hero {
  background-color: var(--secondary-bg-color);
  background-image: var(--gradient-hero-color),
    url(/images/heroimg/mobhero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--gradient-hero-color),
      url(/images/heroimg/mobhero-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: var(--gradient-hero-color),
      url(/images/heroimg/tabhero-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gradient-hero-color),
        url(/images/heroimg/tabhero-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: var(--gradient-hero-color),
      url(/images/heroimg/deskhero-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gradient-hero-color),
        url(/images/heroimg/deskhero-2x.jpg);
    }
  }
}

.hero__box {
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  min-width: 200px;
  height: 50px;
}
