.section-team {
    background-color: #f5f4fa;
  }
  
  .section-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-bottom: 30px;

    @media  screen and (min-width:1200px) {
      padding-bottom: 50px;
      
    }
  }
  
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .section-team__item {
    width: 100%;
    @media  screen and (min-width:768px) {
      width: calc((100% - 30px) / 2);
    } 

    @media  screen and (min-width:1200px) {
      width: calc((100% - 90px) / 4);
    }

  }
  
  .team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-box__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }
  .team-box__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  .team-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }
  
  .team-social__item {
    width: 44px;
    height: 44px;
  }
  
  .team-soc__link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  .team-social__icon {
    fill: #afb1b8;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  .team-soc__link {
    &:hover, &:focus {
      background-color: var(--accent-color);
    }
  
    &:hover > .team-social__icon, &:focus > .-team-social__icon {
      fill: var(--primary-bg-color);
    }
  }