.tel-menu__btn {
  background-color: var(--primary-bg-color);
  border: none;
  width: 40px;
  height: 40px;

  @media screen and (min-width: 767.9px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.tel-menu__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.tel-menu__btn:hover > .tel-menu__icon {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  overflow: auto;

  transition-property: transform, opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: scaleX(1);
  transform-origin: 100% 100%;
  transition: transform, transform-origin;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu.is-hidden .mob-menu__container {
  transform: scaleX(0.4);
  transform-origin: 100% 100%;
}

.mob-menu__close {
  margin-left: auto;
  background-color: var(--primary-bg-color);
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.mob-menu__close:hover > .mob-menu__icon {
  fill: var(--accent-color);
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mob-active {
  color: var(--accent-color);
}

.mob-auth {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-auth__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.email-auth__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-socia__list {
  display: flex;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}

.link-border {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
