body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color);

  }

  .logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

    @media screen and(min-width: 1200px) {
      font-size: 26px;
      line-height: 1.2;
      
    }
  }
  
  .btn{
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: var(--accent-color);
    cursor: pointer;
    
  
    transition-property: background-color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  
  .btn:hover,
  .btn:focus {
    color: var(--primary-bg-color);
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }


 